<h1><mat-icon>description</mat-icon> File Information</h1>
<div class="panel file-info">
    <div class="pane-left file-properties ">
        <h2>Properties</h2>
        <form class="d-flex flex-column ">
            <mat-form-field>
              <mat-label>File Type</mat-label>
              <select matNativeControl id="file-type" formControlName="file-type">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Date Recieved" id="date-recieved" formControlName="date-recieved">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder='Page Count' disabled='true'  value="12">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder='File Size' disabled='true'  value="27.7MB">
            </mat-form-field>
        </form>
    </div>
    <div class="separator">
        <div class="inner"></div>
    </div>
    <div class="pane-right file-atributes">
        <h2> Atributes</h2>
        <form class="d-flex flex-column ">
            <div class="atributes-container">

                <mat-form-field>
                    <mat-label>Document Type</mat-label>
                    <select matNativeControl required>
                      <option value="volvo">Volvo</option>
                      <option value="saab">Saab</option>
                      <option value="mercedes">Mercedes</option>
                      <option value="audi">Audi</option>
                    </select>
                  </mat-form-field>
                  <mat-form-field>
                    <div class="inline">

                      <input matInput placeholder='Application #' id="application-number" formControlName="application-number" >
                      <button mat-icon-button aria-label="Example icon-button with a heart icon">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder='Account #'  id="account-number" formControlName="account-number" >
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder='Costumer Name'  id="costumer-name" formControlName="costumer-name" >
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder='VIN'  id="cvin-number" formControlName="cvin-number" >
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder='File Size' disabled='true'  value="27.7MB">
                    
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Loan Status</mat-label>
                    <select matNativeControl id="file-type" formControlName="file-type">
                      <option value="volvo">Volvo</option>
                      <option value="saab">Saab</option>
                      <option value="mercedes">Mercedes</option>
                      <option value="audi">Audi</option>
                    </select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Dealer State</mat-label>
                    <select matNativeControl id="file-type" formControlName="file-type">
                      <option value="volvo">Volvo</option>
                      <option value="saab">Saab</option>
                      <option value="mercedes">Mercedes</option>
                      <option value="audi">Audi</option>
                    </select>
                  </mat-form-field>
            </div>
            
            <button mat-raised-button color="accent"><mat-icon>add</mat-icon> Add Atribute</button>
        </form>
    </div>
    
</div>
    <div class="btn-controls">
        <button mat-raised-button aria-label="save" color="warn"><mat-icon>cancel</mat-icon> Cancel</button>
        <button mat-raised-button aria-label="save" color="success"><mat-icon>save</mat-icon> Save</button>
    </div>

